
.but:hover{
	-fx-focus-traversable:true ;
	-fx-background-color:#FF9900;
	-fx-cursor:hand ;
	}
.dip{
	-fx-background-color: #FFF47F;
	-fx-background-radius:20;
	-fx-border-radius:20;
}
.button{
	-fx-text-fill: black;
}
.label{
	-fx-text-fill: black;
}
.rad{
	-fx-border-width: 2px;
	}
.anch{
	-fx-background-color: #FAC038;
}
.anc{
	-fx-background-color:#ffffff;
}
.org{
	-fx-background-color: #FAC038;
}
.yel{
	-fx-background-color: #FBD06A;
}
.tb{
	-fx-border-color:black;
	-fx-background-radius:10;
	-fx-border-radius:10;
	-fx-border-width:3;
}
.cb{
	-fx-border-color:black;
	-fx-background-radius:100;
	-fx-border-radius:100;
	-fx-border-width:2;
	-fx-background-color:transparent;
}
.rec{
	
	-fx-background-radius:100;
	-fx-border-radius:100;
	-fx-border-width:2;
}
.table-view {
    -fx-background-color:transparent;
    }
.table-view .column-header-background{
        -fx-background-color: #AAAAFF;
        -fx-background-insets: 0 0 10 0;           
    }
    
    
.table-view .column-header{
    -fx-background-color:   #AAAAFF;
    -fx-size:50px;
}
.table-view .column-header .label{

   -fx-text-fill: black;
   -fx-font-weight: bold;
   -fx-alignment: CENTER;
}

.table-row-cell:selected, .table-row-cell:selected .text{
    -fx-background-color:  #FAC038;
    -fx-fill : black ;
 }
 .table-view .row-cell{
 	-fx-background-color:#1C1C1C;
 	 -fx-alignment: CENTER;
 }
.text{
	-jfx-focus-color:black;
}
.time{
	-jfx-default-color:black
}

.fond{
	-fx-background-color: #F4F4F4;
	-fx-background-radius:10;
	-fx-border-radius:10;
}
.bl{
	-fx-background-color: #9393FF;
	-fx-background-radius:10;
	-fx-border-radius:10;
}
.tableview .table-row-cell{
	 -fx-alignment: CENTER;
	 }
.tb:pressed{
	-fx-background-color:rgb(75,195,246);
	-fx-text-fill:#FFFFFF;
	-fx-background-radius:10;
	-fx-border-radius:10;
	-fx-font: 7pt "Comic Sans MS";

	-fx-font-weight:bold;
	-fx-border-color:#FFFFFF;
	
}



