.tb{
	-fx-border-color:black;
	-fx-background-radius:10;
	-fx-border-radius:10;
	-fx-border-width:3;
	
	
	
}
.tb:pressed{
	-fx-background-color:rgb(75,195,246);
	-fx-text-fill:#FFFFFF;
	-fx-background-radius:10;
	-fx-border-radius:10;
	-fx-font: 10pt "Comic Sans MS";

	-fx-font-weight:bold;
	-fx-border-color:#FFFFFF;
	
}